

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
   
  
  
  body {
    margin: 0;
    font-family: "Outfit", 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  p {
    font-size: 1.6rem;
  }
  
  h1{font-size: 6rem;}


  .App { 
    width: 100%;
    height: 110vh;
    position: relative;
    background-color: rgb(0,0,0,0.1);
    color: #fff;    
  }

  .App::before {
    content: '';
    background: url("c:\Users\Admin\Downloads\foto\PSX_20210619_222520.jpg") no-repeat center center/cover;
    /* background-image: url("https://cdn2.hubspot.net/hubfs/2936356/maxresdefault.jpg"); */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .App .search {
    text-align: center;
    padding: 1rem;
  }

  .App .search input{
    text-align: center;
  }

  .App input {
    padding: 0.7rem 2.5rem;
    font-size: 1.3rem;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255, 0.8);
    background: rgba(255,255,255, 0.1);
    color: #f8f8f8;
  }

  ::placeholder {
    color: #f8f8f8;
  }

  .container {
    max-width: 900px;
    height: 600px;
    margin: auto;
    padding: 0 1rem;
    top : 10%;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .App .top {
    width: 100%;
    margin: 1 0rem;
  }

  .App .description {
    position: relative;
    right: -90%;
    transform-origin: 0 0;
    transform: rotate(270deg);
  }

  .App .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    padding: rem;
    border-radius: 12px;
    background-color: rgb(255,255,255, 0.2);
  }

  .bold {
    font-weight: 700;
  }



  .weather{
    Width: 300px;
    Border-radius: 6px;
    Box-shadow: 10px -2px  20px 2px rgb(0 0 0 /30%);
    Color: #fff;
    Background: #333;
    margin: 20px auto 0 auto;
    }